/* Custom CSS for College Admin Dashboard */

/* Navigation Bar */
.navbar {
    background-color: #FFFFFF;
    border-bottom: 1px solid #E6E6E6;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;


}

.nav-link {
    color: #333333;
    font-size: 1.2rem;
    font-weight: bold;
}

.nav-link:hover {
    color: #007BFF;
}

.nav-item.active .nav-link {
    color: #007BFF;
}

/* Sidebar */
.sidebar {
    background-color: #F8F9FA;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.sidebar ul {
    padding-left: 0;
    margin-bottom: 0;
}

.sidebar li {
    list-style: none;
    margin-bottom: 0.5rem;
}

.sidebar .nav-link {
    color: #333333;
    font-weight: bold;
    font-size: 1.2rem;
}

.sidebar .nav-link:hover {
    color: #007BFF;
}

.sidebar .nav-link.active {
    color: #007BFF;
    background-color: #EAECEF;
}

/* Main Content */
.main-content {
    margin-left: 240px;
    padding-top: 20px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.card-text {
    font-size: 1.5rem;
    font-weight: bold;
}